* {
  color: white;
  font-family: "Calibri";
  font-size: 18px;
}

body {
  background-color: #1b1b1b;
  margin: 0px;
}

a {
  text-decoration: none;
  background-color: transparent;
}

.middle {
  margin: 0% 10%;
  padding: 10px;
  background-color: #262626;
}

.btn {
  padding: 10px;
  border-radius: 4px;
  background-color: inherit;
}
.btn:hover {
  cursor: pointer;
  background-color: #434343;
  transition-duration: 200ms;
}

#search {
  width: 300px;
  margin-bottom: 5px;
}

#gamesList {
  background-color: transparent;
}

.gameLinkDiv {
  padding: 5px;
  background-color: inherit;
}
.gameLinkDiv:hover {
  cursor: pointer;
  background-color: #555555;
  transition-duration: 200ms;
}

.popup-form {
  position: fixed;
  visibility: hidden;
  z-index: 1;
}
.is-visible {
  visibility: visible;
  transition-duration: 200ms;
}

/* Header styles */
#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 40px;
  background-color: #000000;
  position: sticky;
  top: 0;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: transparent;
}
