#header
  .row
    a(href="/")
      .btn Home
  if session && session.userid
    .row
      a(href="/users/"+session.userid)
        .btn My Account
      button#logout Log out
  else
    .row
      a(href="/login")
        .btn Log In
      a(href="/signup")
        .btn Sign Up

  //- log out script
  script.
    let logoutBtn = document.getElementById("logout");
    if (logoutBtn) {
      logoutBtn.addEventListener("click", () => {
        fetch("/logout", { method: "POST" }).then(() => window.location.reload());
      });
    }