#header
  .row
    a(href="/")
      .btn Home
  if session.loggedin
    .row
      a(href="/user/"+session.userid)
        .btn My Account
      a(href="/logout")
        .btn Logout
  else
    .row
      a(href="/register")
        .btn Sign Up
      a(href="/login")
        .btn Log In