html(lang="en")
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="/css/index.css")
    link(rel="stylesheet" href="/css/input.css")
    link(rel="stylesheet" href="/css/forms.css")
    script(src="/js/login.js" defer)
    title Log in
  body(onload="init()")
    include ../partial/header.pug
    .middle
      if session.userid
        h1 Already Logged in
        a(href="/")
          .btn Go to home
      else
        h1 Log in
        .form
          .form-row
            label(for="username") Username:
            input#username(type="text")
          .form-row
            label(for="password") Password:
            input#password(type="password")
          #error-text
          button#submit Log in